.contant{
    width: 80vw;
    display: flex;
    height: 85vh;
    flex-direction: column ;
}

.array_container{
  max-height: calc(100vh - 8vh - 15vh);
  overflow-y: scroll;
}

.flex_column_center{
    width: 80vw;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file_title_input{
    width: 50vw;
    height: 20vh;
    margin-top: 2vh;
    border-radius: 2vw;
    background: transparent;
    font-size: 2vh;
    font-family: 'Times New Roman', Times, serif;
    padding: 2vh;
}




.drop_container {
  position: relative;
  display: flex;
  width: 50vw;
  margin-top: 3vh;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border:  0.1vh solid #5555558a;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop_container:hover {
  background: #eee;
  border-color: #111;
}

.drop_container:hover .drop-title {
  color: #222;
}

.drop_title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

.save_button{
    width:20vh;
    background: transparent;
    height: 5vh;
    border-radius: 1vh;
    font-family: 'Roboto' sans-serif;
    margin-top: 2vh;
    border: 0.2vh solid black;
}

.buttons_block{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.open_form_button{
    background: transparent;
    width: 20vw;
    margin-top: 2vh;
    border: 0.2vh solid rgba(123, 36, 36, 0.667);
}

.simple_button_for_standartadmin{
  height: 5vh;
  margin-left: 2vw;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(28, 3, 3, 0.043);
  border: 0.1vw solid black;
}

.doc_block{
  margin: 1vw;
}