.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

  .container::before{
    background: url(/src/components/Windows/MapWindow/srcMaps/fon_6.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    filter: blur(0.6vh);
    z-index: 0;
}

.container_head, .container_footer {
  flex: 0 0 auto;
}

.container_button{
    position: fixed;
    z-index: 2;
    bottom: 2vh;
    right: 5vw;
}

.mapContainer {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
  overflow:hidden;
}

.mapContainer_map{
width: 50vw;
}

.mapContainer_legend{
display: flex;
flex-direction: column;
width: 45vw;
overflow: auto;
}

.detailedMap{
width: 50vw;
}

.area{
  fill: #36754d;
  stroke: #7eb761;
stroke-width: 0.5;
cursor: pointer;
transition: fill 0.3s ease;
}

.area:hover{
fill: #022615;
}

.mapContainer_legend_block{
margin-bottom: 1vh;
font-size: 3vh;
color: black;
font-family: 'Roboto', serif;
}

.area_label {
font-family: 'Roboto', serif;
font-size: 0.5vh;
font-weight: bold;
fill: white;
text-anchor: middle;
pointer-events: none;
}

.area_director_block{
  height: 20vh;
  width: 45vw;
  display: flex;
  flex-direction: row;
}

.person_img{
  height: 18vh;
  width: auto;
  border: 0.5vh ridge rgba(128, 128, 128, 0.295);
  margin-right: 1vw;
}

.flex_column{
  display: flex;
  flex-direction: column;
}