.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container::before{
    background: url(/src/components/Windows/StructWindow/srcStruct/fon_5.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    z-index: 0;
    filter: blur(0.6vh);
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}
.container_content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    max-height: 85vh;
    z-index: 1;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    color: black;
}

.container_content_header{
    margin: 3vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: 1vh double rgb(80, 80, 227);
    padding: 2vh;
    text-align: center;

}

.container_content_header_text{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container_button{
    position: fixed;
    left: 5vw;
    bottom: 2vh;
    z-index: 2;
}