.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

    .container::before{
    background: url(/src/components/Windows/MapWindow/srcMaps/fon_6.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    filter: blur(0.6vh);
    z-index: 0;
}
  
  .container_head{
    height: 15vh
  }

  .container_footer{
    position: fixed;
    z-index: 2;
    bottom: 2vh;
    right: 5vw;
  }

  .container_content{
    display: flex;
    height: 85vh;
    flex: 1;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
  }
  