.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container::before{
    background: url(./srcMaps/fon_6.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    filter: blur(0.6vh);
    z-index: 0;
}

.container_head, .container_footer {
  flex: 0 0 auto;
}

.mapContainer {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
  overflow:auto;
}

.map {
  width: 100%;
  height: 100%;
}

.district {
  fill: #ddff55;
  stroke: #ccc0a3;
  stroke-width: 2;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.district:hover {
  fill: #ffcc00;
}

.district.active {
  fill: #ff9900;
  stroke-width: 3;
}

.map_text{
  font-size: 1.2vh;
  fill: rgba(0, 0, 0, 0.648);
  pointer-events: none;
}