.container_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-right:1vw ;
}

.container_img{
    height: auto;
    min-width: 22vw;
    max-width: 22vw;
    border:1vh ridge rgb(66, 102, 145);
    margin: 1vh 1.5vh;

}

.container{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    border-bottom: 0.5vh solid black;
    min-height: 55vh;
}