.carousel {
  perspective: 1000px;
  width: 500px;
  height: 400px;
  margin: 2rem auto;
  cursor: grab;
}

.carousel:active {
  cursor: grabbing;
}

.carousel_figure {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.carousel_figure_block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: 280px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -140px;
  border-radius: 16px;
}
