.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}

.container_content{
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: row;
}

.container_content_image{
    max-height: 70vh;
    aspect-ratio: auto;
}

.container_content_text{
    max-height: 70vh;
    height: 100%;
    z-index: 0;
    overflow: auto;
    font-size: xx-large;
    padding: 2vw;
}

.container_content_text_h1{
    color: black;
    margin-left: 2vw;
}

