.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container::before{
    content: "";
    background: url(fon_1.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0.5;
    filter: blur(0.4vh);
}

.container_head{
    height: 15vh;
}

.container_bottom{
    position: fixed;
    height: 15vh;
}

.container_content{
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: row;
}

.container_content_image{
    max-height: 68vh;
    aspect-ratio: auto;
    z-index: 1;
    display: block;
    border: 2vh ridge rgba(169, 35, 35, 0.84);
    margin: 0 1vw 0 1vw;
}  

.container_img{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Lobster", "sans-serif";
    color: black;
    font-size: 2vh;
    font-weight: 100;
    z-index: 2;
}

.container_content_text{
    max-height: 80vh;
    height: 100%;
    z-index: 0;
    overflow: auto;
    padding: 0 2vw 2vw 2vw;
}

.container_content_text p{
    font-size: 3vh;
    font-family: 'Playfair Display', serif;
    color: black;
    text-indent: 2vw;
}

.container_content_text_h1{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 4vh;
    display: block;
    text-align: center;
}

