.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container::before{
    background: url(/src/components/Windows/StructWindow/srcStruct/fon_5.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    z-index: 0;
    filter: blur(0.6vh);
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}
.container_content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    max-height: 85vh;
    z-index: 1;
    overflow: auto;
    font-family: 'Playfair Display', serif;
    color: black;
    overflow-x: hidden;
}

.container_content_person{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 99vw;
    height: auto;
    border: 1vh double rgb(80,80,227);
    padding: 2vh;
    margin: 1vh;
}

.container_content_person_h5{
    padding: 0 2vw;
    font-size: 3vh;
}

.container_button{
    position: fixed;
    left: 5vw;
    bottom: 2vh;
    z-index: 2;
}