.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container::before{
    background: url(./srcStruct/fon_5.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    z-index: 0;
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
    position: fixed;
    z-index: 2;
}
.container_content{
    flex: 1; 
    display: flex;
    z-index: 1;
    flex-direction: row; 
    max-height: 80vh;
    height: 100%;
    flex-wrap: wrap;
    overflow: auto;
}

.container_content_head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container_content_newtop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
}

.container_content_top{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.container_content_top_block{
    margin: 2vh 0;
}

.container_content_bot{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
}

.container_content_bot_otdel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 15vw;
    min-width: 15vw;
}