.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container::before{
    background: url(/src/components/Windows/StructWindow/srcStruct/fon_5.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    z-index: 0;
    filter: blur(0.6vh);
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}
.container_content{
    flex: 1; 
    display: flex;
    flex-direction: row; 
    max-height: 85vh;
    z-index: 1;
    flex-wrap: wrap;
    overflow: auto;
    font-family: 'Roboto', serif;
    color: black;
}

.container_button{
    position: fixed;
    left: 5vw;
    z-index: 2;
    bottom: 2vh;
}