.container{
    max-width: 23vw;
    height: 70vh;
    margin: 1vh 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
}

h1{
    font-size: 3vh;
}

.content_text{
    max-height: 35vh;
}

.content_text_main{
    overflow: hidden;
    font-size: 2vh;
    max-height: 30vh;
    font-family: 'Roboto', serif;

}

.paint{
    width: 100%;
    border: 1vh ridge rgb(168, 4, 4);
    object-fit: contain;
    height: auto;
    margin: 0;
}