.container{
    width: 50vw;
    max-height: 45vh;
    margin: 1vh 0;
    display: flex;
    height: 100%;
    flex-direction: row;
}

h1{
    font-size: 3vh;
}

.content_text{
    max-height: 35vh;
}

.content_text_main{
    overflow: hidden;
    font-size: 2vh;
    max-height: 36vh;
    font-family: 'Playfair Display', serif;

}

.paint{
    width: 20vw;
    object-fit: cover;
    border: 1.5vh ridge red;
    height: 100%;
    margin: 0 1vw;
}