.container{
    width: 47vw;
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.image{
    height: 9.5vh;
    aspect-ratio: auto;
    margin: 0 1.5vw;
}

.button{
    font-size: 2.5vh;
    flex: 1;
    padding: 0.5vh;
    height: 5vh;
    background: transparent;
}