.dropListContainer{
    height: 100vh;
    width: 25vw;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(189, 162, 117);
    z-index: 1001;
    top: 0;
    border-left: 2vh ridge rgba(169, 35, 35, 0.84);
    font-family: "Cormorant Garamond", serif;
}

.dropListContainer_link{
    color: brown;
    font-weight: 900;
    font-size: 3vh;
    text-align: center;
}