.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    min-height: 10vh;
    background-color: brown;
    border-radius: 2vh;
    padding: 1vh;
}

.container_text{
    font-size: 2vh;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', serif;
    text-indent: 0;
}