.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}

.container_content{
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
}