.container{
    width: 23vw;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1vh;
}

.container_text{
    height: auto;
    font-size: 1.5vh;
    width: 24vw;
    text-align: center;
    font-family: "Lobster", "sans-serif";
    color: rgb(169, 35, 35);
    text-transform: uppercase;
}

.container_image{
    min-height: 28vh;
    width: auto;
    max-width: 22vw;
    border: 1vh ridge rgba(169, 35, 35, 0.84);
}