.container{
    width: 15vw;
    height: auto;
    background-color: rgb(67, 167, 229);
    border-radius: 1.5vh;
    min-height: 5vh;
}

.container_text{
    font-size: 2vh;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
    text-indent: 0;
    font-family: 'Roboto', serif;
    padding: 1vh;
}

.green_border{
    border: 0.5vh solid green;
    border-radius: 1.5vh;
}