.container{
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 3vh;
    border: 1vh groove rgba(66, 102, 145, 0.8);
    padding: 2vh;
    margin: 1vw;
}