.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}
.container_content{
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: column; /*  Добавляем это */
    overflow: auto;
    max-height: 70vh;
    
}

.container_content_text{
    height: 100%;
    z-index: 0;
    padding: 2vh;
}

.container_content_text_p{
    font-size: 3vh;
}

.container_content_text_h1{
    font-size: 4vh;
}