.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container::before{
    content: "";
    background: url(fon_12.png) center/cover no-repeat;
    filter: blur(0.6vh);
    position: absolute;
    inset: 0;
    z-index: 0;
    opacity: 0.5;
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
    position: fixed;
    z-index: 2;
}
.container_content{
    flex: 1; /* Занимает оставшееся пространство */
    display: flex;
    flex-direction: column; /*  Добавляем это */
    overflow: auto;
    max-height: 80vh;
    z-index: 1;
    
}

.container_content_text{
    height: 100%;
    z-index: 0;
    padding: 2vh;
}

.container_content_text_p{
    font-size: 3vh;
}

.container_content_text_h1{
    font-size: 4vh;
    padding-left: 3vw;
}

.container_content_text_image{
    width: 15vw;
    aspect-ratio: auto;
    float: left;
    margin: 1vh 3vw;
}