.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container::before{
    background: url(/src/components/Windows/StructWindow/srcStruct/fon_5.png) center/cover no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.5;
    content: "";
    z-index: 0;
    filter: blur(0.6vh);
}

.container_head{
    height: 15vh;
}

.container_bottom{
    height: 15vh;
}
.container_content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    max-height: 85vh;
    z-index: 1;
    overflow: auto;
    font-family: 'Roboto', serif;
    color: black;
}

.container_content_header{
    margin-bottom: 3vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.container_content_person{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
    padding-bottom: 2vh;
    border-bottom: 0.5vh solid black;
}

.container_content_pesron_text{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.container_content_person_image{
    height: auto;
    min-width: 20vw;
    max-width: 20vw;
    margin: 1vw;
    border: 1vh ridge rgb(66, 102, 145);
}

h2{
    font-size: 3vh;
    font-style:inherit;
    font-weight: 600;
    text-align: center;
}

.container_content_zadachi{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2vh;
    margin-inline: 2vw;
    border: 1vh double rgb(66, 102, 145);
}

.container_button{
    position: fixed;
    left: 5vw;
    bottom: 2vh;
    z-index: 2;
}