.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container_head, .container_footer {
  flex: 0 0 auto;
}

.mapContainer {
  flex: 1;
  display: flex;
  position: relative;
  width: 100%;
  overflow:hidden;
}

.mapContainer_map{
width: 50vw;
}

.mapContainer_legend{
display: flex;
flex-direction: column;
width: 40vw;
}

.detailedMap{
width: 50vw;
}

.area{
fill: #ddff55;
stroke: #ccc0a3;
stroke-width: 0.5;
cursor: pointer;
transition: fill 0.3s ease;
}

.area:hover{
fill: #ffcc00;
}

.styles.mapContainer_legend_block{
margin-bottom: 2vh;
font-size: 5vh;
}

.area_label {
font-family: Arial, sans-serif;
font-size: 1.4vh;
font-weight: bold;
fill: #00000073;
text-anchor: middle;
pointer-events: none;
}