.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.container_graph{
    width: 57vw;
    margin-right: 1vw;
}

.container_legend{
    width: 39vw;
    margin-right: 1vw;
}

.container_graph_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 50vh;
    margin-bottom: 7vh;
    border-bottom: 0.5vh dotted rgb(80, 80, 227);
}

