.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container_head, .container_footer {
  flex: 0 0 auto;
}

.mapContainer {
  flex: 1;
  display: flex;
  position: relative;
  width: 50vw;
  overflow:hidden;
}

.detailedMap{
width: 50vw;
}

.area{
fill: #ddff55;
stroke: #ccc0a3;
stroke-width: 0.5;
cursor: pointer;
transition: fill 0.3s ease;
}

.area:hover{
fill: #ffcc00;
}